/*Général*/
body
{
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    color: black;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

/*--------------------------- HEADER + NAV ---------------------------*/
/* positionnement des éléments dans le header */
#headerpage 
{
    display: flex;
    justify-content: space-between;  
    margin: 40px 50px 34px 52px;
}

/* positionnements du menu de navigation */
#menunav
{
    /*background-color: aqua;*/
    width: 435px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

/* particularités de l'élément 'S'incrire' du menu de navigation */
#menunav #signup
{
    color: #0065FC;
    font-weight: 900;
}

#menunav a:hover#signup
{
    border-top: 0px;
    color: #0065FC;
}

/* particularités générales du menu de navigation */
#menunav li
{
    /*background-color: grey;*/
    list-style: none;
    font-weight: 500;
    font-size: 16px;
}

#menunav a
{
    text-decoration: none;
    color: black;
    padding: 30px;
}

#menunav a:visited
{
    color: black;
}

/* Barre bleue au survol des élements du menu de navigation */
#menunav a:hover
{
    border-top: 2px solid #0065FC;
    padding-top: 45px;
    color: #0065FC;
}





/*--------------------------- MAIN ---------------------------*/


/*main
{
margin: 0px 50px 0px 50px;
}*/

/*---------- SECTION RECHERCHE + FILTRES ----------*/
#sectionrecherche header h2
{  
    margin: 0px 50px 0px 55px;
    font-size: 22px;
}

#sectionrecherche header p
{
    margin: 8px 50px 20px 55px;
    font-size: 16px;
    font-weight: 500;
}

/*champs de recherche en 3 parties*/
#recherche
{
    width: 420px;
    margin: 0px 50px 0px 53px;
    font-size: 18px;
    display: flex;
}

#recherche div
{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 13px 0px 0px 13px;
}

#recherche input
{
    width: 218px;
    height: 48px;
    padding: 0px 0px 0px 17px;
    border-style: solid;            
    border-width: 1px;  
    border-color: #F2F2F2; 
}

input::placeholder 
{
    color: black;
    font-weight: 900;
    font-size: 18px;
    font-family: 'Raleway', Arial, sans-serif;
}

#recherche button
{
    width: 135px;
    height: 50px;
    border-style: none;
    background-color: #0065FC;
    border-radius: 0px 13px 13px 0px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Raleway', Arial, sans-serif;
}

/*ligne des filtres*/
#filters 
{
    background-color: burlywood;
    margin: 25px 50px 30px 63px;
    width: 930px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters
{
    background-color: chocolate;
    width: 190px;
    display: flex;
    align-items: center;
}

.filters div
{
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #DEEBFF;
    border-radius: 100%;
}

.fas fa-money-bill-wave
{
    color: aqua;
}




























/*--------------------------- FOOTER ---------------------------*/
/* positionnement des éléments dans le footer */
#footerpage 
{
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 25px;
}
/* particularités générales du footer */
#footerpage a
{
    text-decoration: none;
    color: black;
}
#footerpage ul
{
    padding: 0;
}
#footerpage li
{
    list-style: none;
    padding: 8px 0px;
    font-weight: 500;
}
#footerpage strong
{
    font-size: 18px;
}
/* positionnement des 3 div dans le footer */
.footer_section
{
    /*background-color: coral;*/
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 50px;
}













