/* Style général défini sur l'ensemble de la page du site */
body
{
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    width: 1440px;
    margin: 0 auto;
}

/* Comportement de l'ensemble de la page du site sur les écrans de largeur max 1440px */
@media only screen and (max-width: 1440px)
{    body
    {
        width: auto;
    }
}

/* HEADER + NAV */
/* positionnement des éléments dans le header */
#headerpage 
{
    display: flex;
    justify-content: space-between; 
    margin: 47px 50px 34px 52px;
}

/* positionnement du menu de navigation */
#menunav
{
    width: 440px;
    display: flex;
    justify-content: space-between;
    padding: 0; 
    margin: 0;
}

/* particularités générales du menu de navigation */
#menunav li
{
    list-style: none;
    font-weight: 500;
}

#menunav a
{
    text-decoration: none;
    color: inherit;
    padding: 0 30px;
}

#menunav a:visited
{
    color: inherit;
}

/* barre bleue au survol des éléments 'Hébergement' et 'Activités' */
#menunav a:hover
{
    border-top: 2px solid #0065FC;
    padding-top: 45px;
    color: #0065FC;
}

/* particularités de l'élément 'S'incrire' du menu de navigation */
#menunav #signup
{
    color: #0065FC;
    font-weight: 700;
}

#menunav a:hover#signup
{
    border-top: 0;
}

/* MAIN - SECTION RECHERCHE + FILTRES */
/* header de la section */
#sectionrecherche header h2
{  
    margin: 0 55px;
    font-size: 22px;
    font-weight: 800;
}

#sectionrecherche header p
{
    margin: 8px 50px 20px 55px;
    font-weight: 500;
}

/* champs de recherche en 3 parties */
#recherche
{
    width: 420px;
    margin: 0 50px 0 53px;
    font-size: 18px;
    display: flex;
}

#recherche div
{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

#recherche input
{
    width: 218px;
    height: 48px;
    padding: 0 0 0 17px;
    border : 1px solid #F2F2F2; 
    font-weight: 800;
    font-size: 18px;
    font-family: inherit;
}

#recherche input::placeholder 
{
    color: inherit;
    opacity:  1;/* For Mozilla Firefox */
}

#recherche button
{
    width: 135px;
    height: 50px;
    border-style: none;
    background-color: #0065FC;
    border-radius: 0 13px 13px 0;
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-family: inherit;
}

/* ligne des filtres */
#filters 
{
    margin: 31px 0 0 63px;
    width: 930px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filters h3
{
    font-weight: 800;
    font-size: 18px;
}

.filters
{
    width: auto;
    height: 46px;
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
}

.filters div
{
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 100%;
    margin-left: -2px;
}

.filters h3
{
    padding: 0 18px 0 12px;
}

/* écrasement latéral du picto monnaie */
.fa-money-bill-wave 
{
    transform: scale(0.7, 1.0);
}

/* changement apparence au survol des filtres */
.filters:hover
{
    box-shadow: 0 0 20px 1px #D9D9D9;
    transition: 0.3s ease-out;
    transform: scale(1.1);
}

/* ligne information */
#information 
{
    display: flex;
    align-items: center;
    margin: 35px 50px 0 59px;
}

#information i 
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    width: 22px;
    height: 22px;
}

#information p
{
    margin: 0 0 0 12px;
    font-weight: 500;
}

/* MAIN - SECTION HEBERGEMENT */
#sectionhebergement
{
    margin: 37px 50px 60px 50px;
    width: 1340px;
    height: 626px;
    display: flex;
    justify-content: space-between;
}

.containersection
{
    padding: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;    
}

.containersection h2
{
    font-size: 22px;
    font-weight: 800;
    margin: 0;
    padding-left: 1px;
    padding-bottom: 23px;
}

.containersection h3
{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding-top: 40px;
    padding-left: 4px;
}

/* carte d'hébergement style général */
.cardstyle
{
    background-color: #FFF;
    border-radius: 20px;
    border: 5px solid #FFF; 
    box-shadow: 0 5px 10px #D9D9D9;
}

.cardstyle a
{
    text-decoration: none;
    color: inherit;
}

.textcardstyle h4, .textcardstyle p
{
    margin: 0;
}

.textcardstyle h4
{

    font-size: 16px;
    font-weight: 800;
}

/* étoiles de notation */
.star 
{
    color: #0065FC;
    width: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.star>.off 
{
    color: #D9D9D9;
}

/* spécificités de l'article hébergement à Marseille */
#containercard1
{
    width: 800px;
    height: 430px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;   
}

.imagehebergement1
{
    border-radius: 15px 15px 0 0;
    height: 113px;
    width: 236px;
    object-fit: cover;
}

#containercard1 .textcardstyle 
{
    padding: 7px 11px;
    height: 57px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

#containercard1 .star
{
    padding-top: 5px;    
}

/* spécificités du aside les plus populaires */
#populaires
{
    width: 343px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

#containercard2
{
    width: 343px;
    height: 498px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;     
}

#containercard2 a
{
    width: 333px;
    height: 134px;
    display: flex;
}

.imagehebergement2
{
    border-radius: 15px 0 0 15px;
    height: 134px;
    width: 127px;
    object-fit: cover;
}

#containercard2 .textcardstyle 
{
    padding: 12px 40px 8px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

#containercard2 .star
{
    padding-top: 30px;    
}

/* SECTION ACTIVITES */
#sectionactivites
{
    margin: 0 54px 65px 50px;
    width: 1336px;
    height: 488px;
    display: flex;
    flex-direction: column;

}

#sectionactivites h2
{
    font-size: 22px;
    font-weight: 800;
    margin: 0;
    padding-bottom: 25px;
}

/* "masonry layout" en Flexbox */
#containercard3
{
    height: 444px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: column wrap;
}

#containercard3 .cardstyle
{
    width: 302px;
    margin: 0;
    overflow: hidden;
    border: none;
    display: flex;
    flex-direction: column;
}

/* définition des hauteurs de cartes différentes */
#containercard3 .cardstyle:nth-child(1), #containercard3 .cardstyle:nth-child(4)
{
    height: 100%;
}

#containercard3 .cardstyle:nth-child(2)
{
    height: 52.93%;
}

#containercard3 .cardstyle:nth-child(3)
{
    height: 37.16%;
}

#containercard3 .cardstyle:nth-child(5) 
{
    height: 43.69%;
}

#containercard3 .cardstyle:nth-child(6) 
{
    height: 47.07%;
}

/* définition des hauteurs d'images différentes */
.imagesactivites
{
    width: 100%;
    object-fit: cover;
}

#imgport, #imgcalanques
{
    height: 388px;
}

#imgpomegues
{
    height: 179px;
}

#imgfrioul
{
    height: 108px;
}

#imgdame
{
    height: 138px;
}

#imglonchamp
{
    height: 152px;
}

#containercard3 .textcardstyle
{
    padding: 17px 19px;
}

/* FOOTER */
/* positionnement des éléments dans le footer */
#footerpage 
{
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 25px;
}

/* particularités générales du footer */
#footerpage a
{
    text-decoration: none;
    color: inherit;
}

#footerpage ul
{
    padding: 0;
}

#footerpage li
{
    list-style: none;
    padding: 8px 0;
    font-weight: 500;
}

#footerpage strong
{
    font-size: 18px;
    font-weight: 800
}

/* positionnement des 3 div dans le footer */
.footer_section
{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 50px;
}

/* Comportement du footer sur les écrans de largeur max 850px */
@media only screen and (max-width: 850px)
{    
    #footerpage 
    {
        flex-direction: column;        
    }
    .footer_section
    {
        padding-left: 30px;
    }
}



