/* Style général défini pour l'ensemble de la page du site */
body
{
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    width: 1440px;
    margin: 0 auto;
}

/* comportement général de la page sur des écrans dont la largeur max est inférieur à 1439px */
@media only screen and (max-width: 1439px)
{
    body
    {
        width: auto;
    }
}

/*-----------------------------------------------------*/
/* bibliothèque des éléments répétitif selon normalisation oocss */
.colorblue
{
    color: #0065FC;
}

.bgcgrey
{
    background-color: #F2F2F2;
}

.titlesection
{
    font-size: 22px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}

.textbig
{
    font-weight: 800;
    font-size: 18px;
    margin: 0;
}

.textlittle
{
    font-weight: 500;
    margin: 0;
}

.liststyle
{
    list-style: none;
    font-weight: 500;
}

.linkstyle
{
    text-decoration: none;
    color: inherit;
}

/*-----------------------------------------------------*/
/* HEADER */
/* positionnement des éléments dans le header */
#headerpage 
{
    display: flex;
    justify-content: space-between; 
    padding: 47px 50px 35px 52px;
}

/* positionnement des éléments dans le menu de navigation */
.menunav
{
    width: 440px;
    display: flex;
    justify-content: space-between;
    padding: 0; 
    margin: 0;
}

.menunav .linkstyle
{
    padding: 0 30px;
}

/* supression du style des liens visités */
.menunav a:visited
{
    color: inherit;
}

/* barre bleue au survol des éléments 'Hébergement' et 'Activités' */
.menunav a:hover
{
    border-top: 2px solid #0065FC;
    padding-top: 45px;
    color: #0065FC;
}

/* particularités de l'élément 'S'incrire' du menu de navigation */
.signup
{
    color: #0065FC;
    font-weight: 700;
}

.signup a:hover
{
    border-top: none;
}

/* comportement du header sur des écrans dont la largeur max est inférieur à 992px */
@media only screen and (max-width: 938px)
{
    #headerpage 
    {
        height: 95px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 21px 21px 35px 47px;  
    }

    .menunav
    {
        margin-left: -21px;
    }

    .menunav a:hover
    {
        border-top: none;
        padding-top: 0;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 15px;
    }

    .signup a:hover
    {
        border-bottom: none;
    }
}

@media only screen and (max-width: 500px)
{
    #headerpage
    {
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 10px;
        padding-right: 50px;
    }

    .menunav
    {
        width: 375px;
        height: 115px;
        flex-flow: row-reverse wrap-reverse; 
        margin-top: -32px;
        margin-left: 0;
    }

    /* inversement de l'ordre dans le menu de navigation */
    .menunav li:nth-of-type(1)
    { 
        order: 2; 
    }
    .menunav li:nth-of-type(2)
    { 
        order: 1; 
    }
    .menunav li:nth-of-type(3)
    { 
        order: 3; 
    }

    .menunav a:hover
    {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 415px)
{
    #headerpage
    {
        padding: 21px 21px 10px 21px;
        min-width: 375px;
    }

    .menunav
    {
        width: 417px;
        margin-left: -21px;
    }
}

/*-----------------------------------------------------*/
/* MAIN - SECTION RECHERCHE */
#sectionrecherche
{  
    padding-left: 55px;
    padding-right: 50px;
}

#sectionrecherche header .textlittle
{
    margin-top: 8px;
    margin-bottom: 20px      
}

/* barre de recherche en 3 parties */
.searchbar
{
    width: 420px;   
    display: flex;
}

.iconmmap
{
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px 0 0 15px;
}

.input
{
    width: 218px;
    height: 48px;
    padding: 0 0 0 17px;
    border : 1px solid #F2F2F2; 
    font-weight: 800;
    font-size: 18px;
    font-family: inherit;
}

.input::placeholder 
{
    color: inherit;
    opacity:  1;/* For Mozilla Firefox */
}

.searchbar button
{
    width: 135px;
    height: 50px;
    border-style: none;
    background-color: #0065FC;
    border-radius: 0 13px 13px 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    font-family: inherit;
}

.iconbutton
{
    display: none;
}

/* ligne des filtres */
.filtersbar 
{
    width: 930px;
    height: 50px;
    margin-left: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemfilters
{
    width: auto;
    height: 46px;
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
}

.iconfilters
{
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 100%;
    margin-left: -2px;
}

.itemfilters .textbig
{
    padding: 0 18px 0 12px;
}

/* écrasement latéral du picto monnaie */
.slim 
{
    transform: scale(0.7, 1.0);
}

/* changement apparence au survol des filtres */
.itemfilters:hover
{
    box-shadow: 0 0 20px 1px #D9D9D9;
    transition: 0.3s ease-out;
    transform: scale(1.1);
}

/* ligne d'information */
.informationline 
{
    display: flex;
    align-items: baseline;
    margin: 35px 0 0 3px;
}

.informationline .fa-info 
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    min-width: 22px;
    min-height: 22px;
    margin-right: 12px;
}

/* comportement de la section recherche sur des écrans dont la largeur max est inférieur à 1186px */
@media only screen and (max-width: 1060px)
{
    .filtersbar 
    {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 956px)
{
    .filtersbar
    {
        height: 130px;
    }
}

@media only screen and (max-width: 938px)
{
    #sectionrecherche header .titlesection
    {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 560px)
{
    #sectionrecherche header .textlittle
    {
        margin-top: 12px;
    }

    .searchbar
    {
        margin-top: 35px;
        width: 333px;
    }

    .input
    {
        width: 227px;
    }

    .searchbar button
    {
        width: 51px;
        margin-left: -17px;
        border-radius: 17px;
    }

    .textbutton
    {
        display: none;
    }

    .iconbutton
    {
        display: block;
    }

    .filtersbar
    {
        margin-left: 0px;
        margin-top: 22px;
        width: 330px; 
        height: 230px;
    }

    .itemfilters .textbig
    {
        font-size: 16px;
    }

    .filtersbar .textbig:nth-child(1)
    {
        margin-right: 200px;
    }

    .informationline 
    {
        margin-left: 0;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 415px)
{
    #sectionrecherche
    {
        padding: 21px;
        padding-bottom: 0;
    }

}

/*-----------------------------------------------------*/
/* MAIN - SECTION HEBERGEMENT */
#sectionhebergement
{
    padding: 37px 50px 60px 50px;
    max-width: 1440px;
    min-height: 626px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

/* container à bords arrondis avec du padding interne et son contenu */
/*container*/
.containerarrondi
{
    padding: 40px;
    border-radius: 20px;    
}
/*titres*/
.containerarrondi .titlesection
{
    padding-left: 1px;
    padding-bottom: 23px;
}
/*picto*/
#populaires>div
{
    max-width: 343px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}
/*afficherplus*/
.containerarrondi .textbig
{
    margin: 0;
    padding-top: 40px;
    padding-left: 4px;
}

/* spécificités du container à bords arrondis hébergement */
#hebergements.containerarrondi
{
    width: 59.71%;
    margin-right: 40px;
}

/* spécificités du container à bords arrondis populaire */
#populaires.containerarrondi
{
    width: 339px;
}

/* container de cartes */
/* spécificités du container de cartes hébergement */
.containercard-col3
{
    max-width: 800px;
    min-height: 430px;
    display: flex;
    flex-flow: wrap; 
    justify-content: space-between;
    align-content: space-between;
}

/* spécificités du container de cartes populaire */
.containercard-col1
{
    height: 498px;
    margin-left: -3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

/* cartes à bords arrondis blanc ombre et leurs contenus */
/*carte*/
.cardcontenu
{
    background-color: #FFF;
    border-radius: 20px;
    border: 5px solid #FFF; 
    box-shadow: 0 5px 10px #D9D9D9;
    display: flex;
}
/*image*/
.cardimg
{
    object-fit: cover;
}
/*texte*/
.cardtext
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}
/*titre*/
.cardtext h4
{
    margin: 0;
    font-size: 16px;
    font-weight: 800;
}
/*paragraphe*/
.cardtext p
{
    margin: 0;
}
/*barre d'étoiles*/
.starbar
{
    width: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #D9D9D9;
}

/* spécificités à l'interieur de la carte hébergement */
#hebergements .cardcontenu
{
    flex-direction: column;
}

#hebergements .cardimg
{
    border-radius: 15px 15px 0 0;
    height: 113px;
    width: 236px;
}

#hebergements .cardtext 
{
    padding: 7px 11px;
    height: 57px; 
}

#hebergements .starbar
{
    padding-top: 5px;    
}

/* spécificités à l'interieur de la carte populaire */
#populaires .cardcontenu
{
    flex-direction: row;
    width: 333px;
    height: 134px;
}

#populaires .cardimg
{
    border-radius: 15px 0 0 15px;
    height: 134px;
    width: 127px;
}

#populaires .cardtext 
{
    padding: 12px 40px 8px 20px; 
}

#populaires .starbar
{
    padding-top: 30px;    
}

/* comportement de la section hébergement sur des écrans dont la largeur max est inférieur à 1439px */
@media only screen and (max-width: 1439px)
{
    .containercard-col3
    {
        margin-left: -40px;
    }

    .containercard-col3 > *
    {
        margin-left: 40px;
        margin-bottom: 30px;
        min-width: calc(50% - 40px);
    }

    .containerarrondi .textbig
    {
        padding-top: 10px;
    }

    #hebergements .cardcontenu
    {
        min-width: 235px;
    }

    #hebergements .cardimg
    {
        width: auto;
    }
}

@media only screen and (max-width: 1186px)
{
    .containercard-col3 > *
    {
        min-width: calc(100% - 40px);
    }
}

@media only screen and (max-width: 938px)
{
    #sectionhebergement
    {
        flex-direction: column-reverse;
    }

    #hebergements.containerarrondi
    {
        width: auto;
        margin-right: 0;
        background-color: #FFF;
    }

    #populaires.containerarrondi
    {
        width: auto;
    }

    #populaires>div 
    {
        max-width: 750px;
    }

    #populaires .cardcontenu
    {
        width: auto;
    }
}

@media only screen and (max-width: 532px)
{
    #populaires .cardtext
    {
        padding-right: 15px;
        padding-left: 15px;
    }

    #populaires .cardimg
    {
        width: 100px
    }
}

@media only screen and (max-width: 480px)
{
    #sectionhebergement
    {
        padding: 0;
        padding-top: 37px;
    }

    .containerarrondi
    {
        border-radius: 0; 
    }
}

@media only screen and (max-width: 415px)
{
    #hebergements.containerarrondi
    {
        padding: 20px;
        padding-bottom: 33px;
    }

    .containerarrondi .textbig
    {
        padding-top: 20px;
    }

    .containercard-col3 > *
    {
        margin-bottom: 0px;
        height: 210px;
    }

    #populaires.containerarrondi
    {
        padding: 20px;
        padding-bottom: 33px;
        min-width: 380px;
    }

    #populaires .cardcontenu
    {
        min-width: 235px;
    }

    #populaires.containerarrondi .titlesection
    {
        padding-top: 18px;
        padding-bottom: 30px;
    }

    .containercard-col1
    {
        height: 453px;
    }

    #hebergements .cardcontenu
    {
        min-width: 332px;
    }
}

/*-----------------------------------------------------*/
/* MAIN - SECTION ACTIVITES */
#sectionactivites
{
    padding: 0 52px 12px 50px;
    max-width: 1440px;
    min-height: 488px;
    display: flex;
    flex-direction: column;
}

#sectionactivites .titlesection
{
    padding-bottom: 25px;
}

/* spécificités du container de cartes activités type "masonry grid layout" */
.containercard-col4
{
    column-gap: 45px;
    column-count: 4;
}

/* spécificités à l'interieur de la carte activités */
#activites .cardcontenu
{
    border: none;
    display: inline-block;
    min-width: 302px;
    max-height: 444px;
    overflow: hidden;
    margin-bottom: 40px;
}

#activites .cardimg
{
    width: 100%;
}

#activites .cardtext
{
    padding: 17px 19px;
}

/* comportement de la section activités sur des écrans dont la largeur max est inférieur à 1439px */
@media only screen and (max-width: 1439px)
{
    .containercard-col4
    {
        column-count: 3;
    }
}

@media only screen and (max-width: 1115px)
{
    .containercard-col4
    {
        column-count: 2;
    }
}

@media only screen and (max-width: 767px)
{
    .containercard-col4
    {
        column-count: 1;
    }
}

@media only screen and (max-width: 415px)
{
    #sectionactivites
    {
        padding: 20px;
    }

    #sectionactivites .titlesection
    {
        padding-bottom: 30px;
    }

    .containercard-col4
    {
        width: 335px;
    }

    #activites .cardcontenu
    {
        margin-bottom: 20px;
    }

    #activites .cardimg
    {
        height: 133px;
    }
}

/*-----------------------------------------------------*/
/* FOOTER */
/* positionnement des 3 colonnes dans le footer */
#footerpage 
{
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;

}

.footercol 
{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 50px;
}

/* positionnement des éléments de navigation dans les colonnes */
.footernav
{
    padding: 0;
    line-height: 2.2;
}

/* comportement du footer sur des écrans dont la largeur max est inférieur à 992px */
@media only screen and (max-width: 852px)
{    
    #footerpage 
    {
        flex-direction: column;
    }

    .footercol 
    {
        width: auto;
    }

    .footernav
    {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 415px)
{
    #footerpage
    {
        width: 380px;
    }
    .footercol 
    {
        padding-left: 30px;
    }
}