/*Général*/
body
{
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    color: black;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

/*--------------------------- HEADER + NAV ---------------------------*/
/* positionnement des éléments dans le header */
#headerpage 
{
    display: flex;
    justify-content: space-between;  
    margin: 40px 50px 34px 52px;
}

/* positionnements du menu de navigation */
#menunav
{
    /*background-color: aqua;*/
    width: 435px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

/* particularités de l'élément 'S'incrire' du menu de navigation */
#menunav #signup
{
    color: #0065FC;
    font-weight: 900;
}
#menunav a:hover#signup
{
    border-top: 0px;
    color: #0065FC;
}

/* particularités générales du menu de navigation */
#menunav li
{
    /*background-color: grey;*/
    list-style: none;
    font-weight: 500;
    font-size: 16px;
}
#menunav a
{
    text-decoration: none;
    color: black;
    padding: 30px;
}
#menunav a:visited
{
    color: black;
}

/* Barre bleue au survol des élements du menu de navigation */
#menunav a:hover
{
    border-top: 2px solid #0065FC;
    padding-top: 45px;
    color: #0065FC;
}











/*--------------------------- MAIN ---------------------------*/


/*main
{
margin: 0px 50px 0px 50px;
}*/

/*---------- SECTION RECHERCHE ----------*/
#sectionrecherche header h2
{
    margin: 0px 50px 0px 55px;
    font-size: 22px;
    font-weight: 900;
}

#sectionrecherche header p
{
    margin: 8px 50px 35px 55px;
    font-size: 16px;    
}

#recherche
{
    margin: 0px 50px 0px 53px;
    font-size: 18px;
    width: 420px;
    height: 51px;
    border-style: solid;           
    border-width: 1px; 
    border-color: #F2F2F2;
    border-radius: 13px;
}

/*#recherche i
{

height: 51px;
width: 100px;
border-style: solid;
border-color: #F2F2F2;
background-color: #F2F2F2;
border-radius: 10px 0px 10px 0px;
}*/

#filtres {
    background-color: burlywood;
    margin: 50px;
    display: flex;
}

.filtres {
    background-color: chocolate;
    display: flex;
    flex-direction: row;
}
































/*--------------------------- FOOTER ---------------------------*/
/* positionnement des éléments dans le footer */
#footerpage 
{
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 25px;
}
/* particularités générales du footer */
#footerpage a
{
    text-decoration: none;
    color: black;
}
#footerpage ul
{
    padding: 0;
}
#footerpage li
{
    list-style: none;
    padding: 8px 0px;
    font-weight: 500;
}
#footerpage strong
{
    font-size: 18px;
}
/* positionnement des 3 div dans le footer */
.footer_section
{
    /*background-color: coral;*/
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 50px;
}









