/* Style général défini pour l'ensemble de la page du site */
body
{
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    width: 1440px;
    margin: 0 auto;
}

/* bibliothèque des éléments répétitif selon normalisation oocss */
.colorblue
{
    color: #0065FC;
}

.bgcgrey
{
    background-color: #F2F2F2;
}

.titlesection
{
    font-size: 22px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}

.textbig
{
    font-weight: 800;
    font-size: 18px;
    margin: 0;
}

.textlittle
{
    font-weight: 500;
    margin: 0;
}

.liststyle
{
    list-style: none;
    font-weight: 500;
}

.linkstyle
{
    text-decoration: none;
    color: inherit;
}

/* comportement général de la page sur des écrans dont la largeur max est inférieur à 1439px */
@media only screen and (max-width: 1439px)
{
    body
    {
        width: auto;
    }
}

@media only screen and (max-width: 425px)
{
    body
    {
        width: 375px;
    }
}

/* HEADER */
/* positionnement des éléments dans le header */
#headerpage 
{
    display: flex;
    justify-content: space-between; 
    margin: 47px 50px 34px 52px;
}

/* positionnement des éléments dans le menu de navigation */
.menunav
{
    width: 440px;
    display: flex;
    justify-content: space-between;
    padding: 0; 
    margin: 0;
}

.menunav .linkstyle
{
    padding: 0 30px;
}

/* supression du style des liens visités */
.menunav a:visited
{
    color: inherit;
}

/* barre bleue au survol des éléments 'Hébergement' et 'Activités' */
.menunav a:hover
{
    border-top: 2px solid #0065FC;
    padding-top: 45px;
    color: #0065FC;
}

/* particularités de l'élément 'S'incrire' du menu de navigation */
.signup
{
    color: #0065FC;
    font-weight: 700;
}

.signup a:hover
{
    border-top: none;
}

/* comportement du header sur des écrans dont la largeur max est inférieur à 850px */
@media only screen and (max-width: 850px)
{
    #headerpage 
    {
        height: 95px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 21px;
        margin: 0;
    }

    .menunav a:hover
    {
        border-top: none;
        padding-top: 0px;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 15px;
    }

    .signup a:hover
    {
        border-bottom: none;
    }
}

@media only screen and (max-width: 475px)
{
    #headerpage
    {
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 10px;
    }

    .menunav
    {
        width: auto;
        height: 115px;
        flex-flow: row-reverse wrap-reverse; 
        margin-top: -32px;
    }

    /* inversement de l'ordre dans le menu de navigation */
    .menunav li:nth-of-type(1)
    { 
        order: 2; 
    }
    .menunav li:nth-of-type(2)
    { 
        order: 1; 
    }
    .menunav li:nth-of-type(3)
    { 
        order: 3; 
    }
}

/* MAIN - SECTION RECHERCHE */
#sectionrecherche
{  
    margin-left: 55px;
    margin-right: 50px;
}

#sectionrecherche header .textlittle
{
    margin-top: 8px;
    margin-bottom: 20px      
}

/* barre de recherche en 3 parties */
.searchbar
{
    width: 420px;
    margin-left: 3px;
    display: flex;
}

.iconmmap
{
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px 0 0 15px;
}

.input
{
    width: 218px;
    height: 48px;
    padding: 0 0 0 17px;
    border : 1px solid #F2F2F2; 
    font-weight: 800;
    font-size: 18px;
    font-family: inherit;
}

.input::placeholder 
{
    color: inherit;
    opacity:  1;/* For Mozilla Firefox */
}

.searchbar button
{
    width: 135px;
    height: 50px;
    border-style: none;
    background-color: #0065FC;
    border-radius: 0 13px 13px 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    font-family: inherit;
}

.iconbutton
{
    display: none;
}

/* ligne des filtres */
.filtersbar 
{
    width: 930px;
    height: 50px;
    margin-left: 13px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemfilters
{
    width: auto;
    height: 46px;
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
}

.iconfilters
{
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 100%;
    margin-left: -2px;
}

.itemfilters .textbig
{
    padding: 0 18px 0 12px;
}

/* écrasement latéral du picto monnaie */
.slim 
{
    transform: scale(0.7, 1.0);
}

/* changement apparence au survol des filtres */
.itemfilters:hover
{
    box-shadow: 0 0 20px 1px #D9D9D9;
    transition: 0.3s ease-out;
    transform: scale(1.1);
}

/* ligne d'information */
.informationline 
{
    display: flex;
    align-items: baseline;
    margin: 35px 0 0 9px;
}

.informationline .fa-info 
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    min-width: 22px;
    min-height: 22px;
    margin-right: 12px;
}

/* comportement de la section recherche sur des écrans dont la largeur max est inférieur à 850px */
@media only screen and (max-width: 850px)
{
    #sectionrecherche
    {
        margin: 21px;
    }
    #sectionrecherche header .titlesection
    {
        margin-top: 30px;
    }
}

/* comportement de la barre de recherche sur des écrans dont la largeur max est inférieur à 850px */
@media only screen and (max-width: 850px)
{
    .searchbar
    {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 623px)
{
    .searchbar
    {
        margin-top: 44px;
    }
}

@media only screen and (max-width: 475px)
{
    .searchbar
    {
        width: 333px;
    }

    .input
    {
        width: 227px;
    }

    .searchbar button
    {
        width: 51px;
        margin-left: -17px;
        border-radius: 17px;
    }

    .textbutton
    {
        display: none;
    }

    .iconbutton
    {
        display: block;
    }
}

/* comportement de la ligne des filtres sur des écrans dont la largeur max est inférieur à 1024px */
@media only screen and (max-width: 1024px)
{
    .filtersbar 
    {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 850px)
{
    .filtersbar
    {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 623px)
{
    .filtersbar 
    {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 491px)
{
    .filtersbar 
    {
        width: 350px;
        height: 230px;
    }
}

@media only screen and (max-width: 425px)
{
    .filtersbar .textbig:nth-child(1)
    {
        margin-right: 200px;
    }
}

/* comportement de la ligne d'information de la section recherche sur des écrans dont la largeur max est inférieur à 850px */
@media only screen and (max-width: 850px)
{
    .informationline 
    {
        margin-left: 0;
        margin-top: 20px;
    }
}

/* MAIN - SECTION HEBERGEMENT */
#sectionhebergement
{
    margin: 37px 50px 60px 50px;
    width: 1340px;
    height: 626px;
    display: flex;
    justify-content: space-between;
}

.containersection
{
    padding: 40px;
    border-radius: 20px;    
}

.containersection h2
{
    padding-left: 1px;
    padding-bottom: 23px;
}

.containersection .textbig
{
    margin: 0;
    padding-top: 40px;
    padding-left: 4px;
}

/* carte d'hébergement style général */
.cardstyle
{
    background-color: #FFF;
    border-radius: 20px;
    border: 5px solid #FFF; 
    box-shadow: 0 5px 10px #D9D9D9;
}

.textcardstyle h4, .textcardstyle p
{
    margin: 0;
}

.textcardstyle h4
{

    font-size: 16px;
    font-weight: 800;
}

/* étoiles de notation */
.star 
{
    width: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #D9D9D9
}

/* spécificités de l'article hébergement à Marseille */
#containercard1
{
    width: 800px;
    height: 430px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;   
}

.imagehebergement1
{
    border-radius: 15px 15px 0 0;
    height: 113px;
    width: 236px;
    object-fit: cover;
}

#containercard1 .textcardstyle 
{
    padding: 7px 11px;
    height: 57px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

#containercard1 .star
{
    padding-top: 5px;    
}

/* spécificités du aside les plus populaires */
#populaires
{
    width: 343px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

#containercard2
{
    width: 343px;
    height: 498px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;     
}

#containercard2 a
{
    width: 333px;
    height: 134px;
    display: flex;
}

.imagehebergement2
{
    border-radius: 15px 0 0 15px;
    height: 134px;
    width: 127px;
    object-fit: cover;
}

#containercard2 .textcardstyle 
{
    padding: 12px 40px 8px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

#containercard2 .star
{
    padding-top: 30px;    
}

/* comportement de la section hébergement sur des écrans dont la largeur max est inférieur à 1439px */
@media only screen and (max-width: 1439px)
{
    #sectionhebergement
    {
        width: auto;
        height: 856px;
    }

    article.containersection
    {
        width: auto;
        height: 775px;
    }

    #containercard1
    {
        width: 525px;
        height: 661px;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1180px)
{
    #sectionhebergement
    {
        width: auto;
        height: 1428px;
    }

    article.containersection
    {
        width: auto;
        height: 1347px;
    }

    #containercard1
    {
        width: 246px;
        height: 1233px;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 940px)
{
    /*passer populaire au dessus puis reduire marge gauche*/
}










/* SECTION ACTIVITES */
#sectionactivites
{
    margin: 0 54px 65px 50px;
    width: 1336px;
    height: 488px;
    display: flex;
    flex-direction: column;
}

#sectionactivites h2
{
    padding-bottom: 25px;
}

/* "masonry layout" en Flexbox */
#containercard3
{
    height: 444px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: column wrap;
}

#containercard3 .cardstyle
{
    width: 302px;
    margin: 0;
    overflow: hidden;
    border: none;
    display: flex;
    flex-direction: column;
}

/* définition des hauteurs de cartes différentes */
#containercard3 .cardstyle:nth-child(1), #containercard3 .cardstyle:nth-child(4)
{
    height: 100%;
}

#containercard3 .cardstyle:nth-child(2)
{
    height: 52.93%;
}

#containercard3 .cardstyle:nth-child(3)
{
    height: 37.16%;
}

#containercard3 .cardstyle:nth-child(5) 
{
    height: 43.69%;
}

#containercard3 .cardstyle:nth-child(6) 
{
    height: 47.07%;
}

/* définition des hauteurs d'images différentes */
.imagesactivites
{
    width: 100%;
    object-fit: cover;
}

#imgport, #imgcalanques
{
    height: 388px;
}

#imgpomegues
{
    height: 179px;
}

#imgfrioul
{
    height: 108px;
}

#imgdame
{
    height: 138px;
}

#imglonchamp
{
    height: 152px;
}

#containercard3 .textcardstyle
{
    padding: 17px 19px;
}

/* comportement de la section activités sur des écrans dont la largeur max est inférieur à 1439px */
@media only screen and (max-width: 1439px)
{
    #sectionactivites
    {
        width: auto;
        height: auto;
        flex-wrap: wrap;
        /*margin: 0 54px 65px 50px;
        width: 1336px;
        height: 488px;
        display: flex;
        flex-direction: column;*/
    }
}






/* FOOTER */
/* positionnement des 3 colonnes dans le footer */
#footerpage 
{
    background-color: #F2F2F2;
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
}

.footercol {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 50px;
}

/* positionnement des éléments de navigation dans les colonnes */
.footernav
{
    padding: 0;
    line-height: 2.2;
}

/* comportement du footer sur des écrans dont la largeur max est inférieur à 850px */
@media only screen and (max-width: 850px)
{    
    #footerpage 
    {
        flex-direction: column; 
    }
    .footercol 
    {
        padding-left: 30px;
    }
    .footernav
    {
        margin-top: 10px;
    }
}




















