/*Général*/
body
{
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    color: black;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

/*--------------------------- HEADER + NAV ---------------------------*/
/* positionnement des éléments dans le header */
#headerpage 
{
    display: flex;
    justify-content: space-between;  
    margin: 40px 50px 34px 52px;
}

/* positionnements du menu de navigation */
#menunav
{
    /*background-color: aqua;*/
    width: 435px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

/* particularités de l'élément 'S'incrire' du menu de navigation */
#menunav #signup
{
    color: #0065FC;
    font-weight: 700;
}

#menunav a:hover#signup
{
    border-top: 0px;
    color: #0065FC;
}

/* particularités générales du menu de navigation */
#menunav li
{
    /*background-color: grey;*/
    list-style: none;
    font-weight: 500;
    font-size: 16px;
}

#menunav a
{
    text-decoration: none;
    color: black;
    padding: 30px;
}

#menunav a:visited
{
    color: black;
}

/* Barre bleue au survol des élements du menu de navigation */
#menunav a:hover
{
    border-top: 2px solid #0065FC;
    padding-top: 45px;
    color: #0065FC;
}

/*--------------------------- MAIN ---------------------------*/
/*-------- SECTION RECHERCHE + FILTRES --------*/
/*header de la section*/
#sectionrecherche header h2
{  
    margin: 0px 50px 0px 55px;
    font-size: 22px;
    font-weight: 800;
}

#sectionrecherche header p
{
    margin: 8px 50px 20px 55px;
    font-size: 16px;
    font-weight: 500;
}

/*champs de recherche en 3 parties*/
#recherche
{
    width: 420px;
    margin: 0px 50px 0px 53px;
    font-size: 18px;
    display: flex;
}

#recherche div
{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

#recherche input
{
    width: 218px;
    height: 48px;
    padding: 0px 0px 0px 17px;
    border : 1px solid #F2F2F2; 
    font-weight: 800;
    font-size: 18px;
    font-family: 'Raleway', Arial, sans-serif;
}

input::placeholder 
{
    color: black;
    font-weight: 800;
    font-size: 18px;
    font-family: 'Raleway', Arial, sans-serif;
}

#recherche button
{
    width: 135px;
    height: 50px;
    border-style: none;
    background-color: #0065FC;
    border-radius: 0px 13px 13px 0px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Raleway', Arial, sans-serif;
}

/*ligne des filtres*/
#filters 
{
    margin: 31px 0px 0px 63px;
    width: 930px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filters h3
{
    font-weight: 800;
    font-size: 18px;
}

.filters
{
    width: auto;
    height: 46px;
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
}

.filters div
{
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 100%;
    margin-left: -2px;
}

.filters h3
{
    padding: 0px 18px 0px 12px;
}

/*changement apparence au survol des filtres*/
.filters:hover
{
    box-shadow: 0px 0px 10px 10px #F2F2F2;
    transition: 0.3s ease-out;
    height: 55px;
}

/*ligne information*/
#information 
{
    display: flex;
    align-items: center;
    margin: 35px 50px 0px 59px;
}

#information i 
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    width: 22px;
    height: 22px;
}

#information p
{
    margin: 0px 0px 0px 12px;;
    font-size: 16px;
    font-weight: 500;
}

/*---------- SECTION HEBERGEMENT ----------*/
#sectionhebergement
{
    margin: 37px 50px 64px 50px;
    width: 1340px;
    height: 626px;
    display: flex;
    justify-content: space-between;
}

.containersection
{
    padding: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;    
}

.containersection h2
{
    font-size: 22px;
    font-weight: 800;
    margin: 0;
    padding-left: 1px;
    padding-bottom: 23px;
}

.containersection h3
{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding-top: 40px;
    padding-left: 4px;
}

/*carte d'hébergement style général*/
.cardstyle
{
    background-color: #FFF;
    border-radius: 20px;
    border: 5px solid #FFF; 
    box-shadow: 0px 5px 10px #D9D9D9;
}

.cardstyle a
{
    text-decoration: none;
    color: black;
}

.textcardstyle h4, .textcardstyle p
{
    margin: 0;
}

.textcardstyle h4
{
    font-size: 16px;
    font-weight: 800;
}

/*étoiles de notation*/
.star 
{
    color: #0065FC;
    width: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.star>.off 
{
    color: #D9D9D9;
}

/*spécificités article hébergement à Marseille*/
#sectionhebergement article
{
    width: 800px;
}

#containercard1
{
    width: 800px;
    height: 430px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;   
}

#containercard1 img
{
    border-radius: 15px 15px 0px 0px;
}

#containercard1 .textcardstyle 
{
    padding: 7px 11px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

#containercard1 .star
{
    padding-top: 5px;    
}

/*spécificités aside les plus populaires*/
#sectionhebergement aside
{
    width: 340px;
}

#populaires
{
    width: 343px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

#containercard2
{
    width: 343px;
    height: 498px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;     
}

#containercard2 a
{
    width: 333px;
    height: 134px;
    display: flex;
}

#containercard2 img
{
    border-radius: 15px 0px 0px 15px;
}

#containercard2 .textcardstyle 
{
    padding: 12px 40px 8px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

#containercard2 .star
{
    padding-top: 30px;    
}

/*---------- SECTION ACTIVITES ----------*/
#sectionactivites
{
    margin: 0px 54px 60px 50px;
    width: 1336px;
    height: 488px;
    display: flex;
    flex-direction: column;
}

#sectionactivites h2
{
    font-size: 22px;
    font-weight: 800;
    margin: 0;
    padding-bottom: 25px;
}

#containercard3
{
    background-color: red;
    height: 445px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

#containercard3 .cardstyle
{
    border: none; 
}
#containercard3 img
{
    border-radius: 20px 20px 0px 0px;
}











/*--------------------------- FOOTER ---------------------------*/
/* positionnement des éléments dans le footer */
#footerpage 
{
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 25px;
}
/* particularités générales du footer */
#footerpage a
{
    text-decoration: none;
    color: black;
}
#footerpage ul
{
    padding: 0;
}
#footerpage li
{
    list-style: none;
    padding: 8px 0px;
    font-weight: 500;
}
#footerpage strong
{
    font-size: 18px;
    font-weight: 800
}
/* positionnement des 3 div dans le footer */
.footer_section
{
    /*background-color: coral;*/
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 50px;
}




