/* Définition des polices Raleway */
@font-face { 
    font-family: 'Raleway';
    src: url('/fonts/Raleway-Regular.ttf') format('truetype');
    font-family: 'RalewayBold';
    src: url('/fonts/Raleway-ExtraBold.ttf') format('truetype');
}


/*Général*/
body
{
    font-family: 'Raleway', Arial, sans-serif;
    color: black;
    background-color: white;
    margin: 50px;
    padding: 0px;
   
}


/*--------------------------- HEADER + NAV ---------------------------*/
/* positionnement des éléments dans le header */
#header 
{
    display: flex;
    justify-content: space-between;  
    padding-bottom: 10px;
}

/* marges du logo */
#logo 
{
    margin-left: 2px;
}

/* positionnements du menu de navigation */
#menu
{
    /*background-color: aqua;*/
    width: 440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

/* particularités de l'élément 'S'incrire' du menu de navigation */
#menu #signup
{
    color: #0065FC;
    font-weight: 900;
    font-size: 16px;
}
#menu a:hover#signup
{
    border-top: 0px;
    color: #0065FC;
}

/* particularités générales du menu de navigation */
#menu li
{
    /*background-color: grey;*/
    list-style: none;
    font-weight: 500;
    font-size: 16px;
}
#menu a
{
    text-decoration: none;
    color: black;
    padding: 30px;
}
#menu a:visited
{
    color: black;
}

/* Barre bleue au survol des élements du menu de navigation */
#menu a:hover
{
    border-top: 2px solid #0065FC;
    padding-top: 50px;
    color: #0065FC;
}



